html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

canvas {
	box-sizing: border-box;
	border: solid 1px black;
}

#main {
	width: 100%;
	height: 100%;
	display: flex;
}

#area {
	width: 80%;
	height: 100%;
	overflow: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
#toolbox {
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#parents {
	text-align: center;
	overflow: auto;
	height: 50%;
}

#bg {
	position: fixed;
	background-color: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

#window {
	width: 90%;
	height: 90%;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	background-color: white;
}

#toolbar {
	width: 100%;
}
